:root {
  --text-color: #000000;
  --link-color: white;
}




html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  max-width: 1400px;
  margin: 0 auto; 
}

a {
  color: var(--link-color);
  text-decoration: none;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}

nav .left a {
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgb(244, 247, 244);

  font-size: 22px;
  font-weight: 600;
}

nav .right a {
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgb(244, 247, 244);

  margin: 0 10px;
}

nav .right a span {
  margin-left: 5px;
}


.about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 400px;
  gap: 40px;
}


.about_me .text {
  text-shadow: 1px 1px 2px rgb(244, 247, 244);
  color: var(--link-color);

}

.about_me .text h2 {
  font-size: 45px;
  text-shadow: 1px 1px 10px rgb(243, 241, 241);
  color: var(--link-color);
}

.about_me .text .links {
  margin-top: 25px;
}

.about_me .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.about_me .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.about_me .headshot {
  display: flex;
  justify-content: right;
}

.about_me .headshot img {
  width: 350px;
  border-radius: 50%;
}


.skills-section {
  padding: 0 50px;
  margin-bottom: 600px;
}

.skills-section h2 {
  text-shadow: 1px 1px 2px rgb(244, 247, 244);
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  color: var(--link-color);
  text-shadow: 1px 1px 2px rgb(244, 247, 244);
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  text-shadow: 1px 1px 2px rgb(244, 247, 244);
  font-size: 18px;
}

.project-section {
  padding: 0 50px;
  margin-bottom: 450px;
}

.project-section h2 {
  text-shadow: 1px 1px 2px rgb(244, 247, 244);
  font-size: 35px;
  margin-bottom: 30px;
}

.project-section .group {
  display: flex;
  align-items: center;
  gap: 50px;
}

.project-section .group .person-details {
  text-align: center;
}

.project-section .group .person-details img {
  width: 400px;
  margin-bottom: 10px;
}

.project-section .group .person-details p {
    color: var(--link-color);
  text-shadow: 1px 1px 2px rgb(244, 247, 244);
  font-weight: 600;
}

.project-section .group .person-details p:last-child {
  font-weight: normal;
}


.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  text-shadow: 1px 1px 2px rgb(244, 247, 244);
  font-size: 35px;
}

.contact-section .group {
  display: flex;
  gap: 50px;
}

.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--text-color);
  background-color: rgba(249, 245, 245, 0.7);
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: rgb(249, 245,245);
  background-color: var(--text-color);
  border: none;
  height: 50px;
  cursor: pointer;
}


@media (max-width: 850px) {
  .about_me .text h2 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {

  .about_me {
    flex-direction: column-reverse;
  }

  .about_me .headshot img {
    width: 300px;
  }

  .project-section {
    text-align: center;
  }

  .project-section .group {
    flex-direction: column;
  }

  .contact-section .group {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }

  nav .right a {
    display: inline-block;
    font-size: 22px;
    transition: transform 0.4s ease-out;
  }

  nav .right a:hover{
    transform: scale(1.2) ;

  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

  .about_me {
    padding: 0 20px;
  }

  .about_me .text h2 {
    font-size: 30px;
  }

  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  .project-section {
    padding: 0 20px;
  }

  .contact-section {
    padding: 0 20px;
  }
 
}
   #myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  
  }